<!DOCTYPE html>
<html>
  <head>
    <base href="/" />
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="Materialize/bin/materialize.css"  media="screen,projection"/>
    <!--Custom css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>

    <!-- material design icons -->
    <link href="mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">

    <title>Кто Где</title>
  </head>
  <body ng-app="FourApp" ng-controller="App">

    <!--App Header-->
    <header ng-controller="MainNavigation " class="grey lighten-4" id="top">
      <div class="container">
        <div class="row" style="padding-bottom:0;margin-bottom:0;">

          <!--Logo and stuff-->
          <div class="col s2 orange header-section z-depth-1">
            <h4 ui-sref="home" class="white-text logo-text center-align" style='cursor:pointer'>Кто Где</h4>
            <p class="white-text logo-text center-align"><small>Афиша мест и событий</small></p>
          </div>

          <!--Toolbar ?-->
          <div class="col s8 transparent header-section valign-wrapper">
            <span class="grey-text text-darken-4" ng-if="user_city">
              <i class="mdi mdi-map-marker" style="color:orange;font-size:16px;"></i>
              Ваш город:
              <i class="light-text italic-text orange-text" ng-bind="user_city"></i>
            </span>
          </div>

          <!--Sign Actions-->
          <div class="col s2 orange header-section valign-wrapper z-depth-1">
            <a ui-sref="login" ng-if="!isAuthenticated()"
               class="col s12 center-align">
               <span class="text-underline white-text light-text">Войти</span>
             </a>
            <a ui-sref="logout" ng-if="isAuthenticated()"
               class="col s12 center-align">
               <span class="text-underline white-text light-text">Выйти</span>
             </a>
          </div>
        </div>
      </div>
    </header>

    <!--App Main Content-->
    <main class="grey lighten-5">
      <div class="container">

        <div class="row transparent" style="padding-top: 1rem;">
          <div class="center-wrapper">
            <div class="col s12 center">
              <a class="btn-floating btn-large waves-effect waves-light orange darken-1 center"
                 style="margin: auto 15px;">
                <i class="mdi mdi-emoticon">События</i>
              </a>
              <a ui-sref="meetings"
                 class="btn-floating btn-large waves-effect waves-light orange darken-1 center"
                 style="margin: auto 15px;">
                <i class="mdi mdi-account-multiple">Встречи</i>
              </a>
              <a class="btn-floating btn-large waves-effect waves-light orange darken-1 center"
                 style="margin: auto 15px;">
                <i class="mdi mdi-map-marker-multiple">Места</i>
              </a>
              <a class="btn-floating btn-large waves-effect waves-light orange darken-1 center"
                 style="margin: auto 15px;">
                <i class="mdi mdi-worker">Работа</i>
              </a>
            </div>
          </div>
        </div>

        <div class="row" style='margin-bottom:0px;'>
          <!-- Left Side Navigation Menu -->
          <div class="col s2 transparent" ng-cloak style="padding:0;">
            <!-- {{menu_hover}} -->
            <div class="collection menu-collection transparent col s12" style="min-height:100vh;">
              <a ui-sref="profile" class="hoverable waves-effect waves-light collection-item
                 menu-collection-item animated center-align z-depth-1"
                 ng-class="{
                   'orange white-text' : menu_hover === 'profile',
                   'grey lighten-4 grey-text text-lighten-1' : menu_hover !== 'profile' && !$state.is('profile'),
                   'orange lighten-1 white-text' : menu_hover !== 'profile' && $state.is('profile'),
                 }"
                 ng-mouseover="menu_hover='profile'"
                 ng-mouseleave="menu_hover=''">
                 <span class="">Мой Кабинет</span>
              </a>
              <a ui-sref="friends" class=" hoverable waves-effect waves-light collection-item
                 menu-collection-item animated center-align z-depth-1"
                 ng-class="{
                   'orange white-text' : menu_hover === 'friends',
                   'grey lighten-4 grey-text text-lighten-1' : menu_hover !== 'friends' && !$state.is('friends'),
                   'orange lighten-1 white-text' : menu_hover !== 'friends' && $state.is('friends'),
                 }"
                 ng-mouseover="menu_hover='friends'"
                 ng-mouseleave="menu_hover=''">
                 <span>Друзья</span>
               </a>
              <a ui-sref="chats" class=" hoverable waves-effect waves-light collection-item
                 menu-collection-item animated center-align z-depth-1"
                 ng-class="{
                   'orange white-text' : menu_hover === 'chats',
                   'grey lighten-4 grey-text text-lighten-1' : menu_hover !== 'chats' && !$state.is('chats'),
                   'orange lighten-1 white-text' : menu_hover !== 'chats' && $state.is('chats'),
                 }"
                 ng-mouseover="menu_hover='chats'"
                 ng-mouseleave="menu_hover=''">
                 <span>Сообщения</span>
               </a>
              <a ui-sref="my-meetings" class=" hoverable waves-effect waves-light collection-item
                 menu-collection-item animated center-align z-depth-1"
                 ng-class="{
                   'orange white-text' : menu_hover === 'my-meetings',
                   'grey lighten-4 grey-text text-lighten-1' : menu_hover !== 'my-meetings' && !$state.is('my-meetings'),
                   'orange lighten-1 white-text' : menu_hover !== 'my-meetings' && $state.is('my-meetings'),
                 }"
                 ng-mouseover="menu_hover='my-meetings'"
                 ng-mouseleave="menu_hover=''">
                 <span>Мои Встречи</span>
               </a>
            </div>
          </div>

          <!-- Route Main Content -->
          <div class="col s8 transparent" style="padding-top: 0rem;">
            <ui-view></ui-view>
          </div>

          <!-- Additional controls menu -->
          <div class="col s2 transparent" style="padding-top: 1rem;" ng-cloak
               ng-controller="RightNavigation">
            <div class="z-depth-1 grey lighten-4" id="map"
                 style="width:100% !important;height:300px; margin-bottom:1rem;">

            </div>

            <div class="grey lighten-4 z-depth-1 custom-card" style="width:100%; margin-bottom:3rem;">
              <a class="hoverable waves-effect waves-light black-text btn grey lighten-4 col s12 center-align"
                 style="border-radius:0;white-space:nowrap;font-size:10px;"
                 ng-click="open_tags_picker()">
                Выберите интерес
              </a>
            </div>


            <div class="center-wrapper" style="width:100%; margin-bottom:3rem;">
                <div class="col s12 center">
                  <img ng-repeat="category in categories"
                       class="z-depth-1 hoverable grey responsive-img"
                       style="width:45px;height:45px;margin:2px; border-radius:100%;"
                       ng-src="{{'images/category_icons/' + category + '.png'}}"/>
                </div>
            </div>

          </div>

        </div>
      </div>
    </main>

    <!--App Footer-->
    <footer class="page-footer grey lighten-4" style='margin-top:0px;'>
      <div class="container transparent">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="grey-text text-darken-1">Footer Content</h5>
            <p class="grey-text">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="grey-text text-darken-1">Links</h5>
            <ul>
              <li><a class="grey-text" href="#!">Link 1</a></li>
              <li><a class="grey-text" href="#!">Link 2</a></li>
              <li><a class="grey-text" href="#!">Link 3</a></li>
              <li><a class="grey-text" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright transparent">
        <div class="container transparent">
        <span class="grey-text text-lighten-1">© 2014 Copyright Text</span>
        <a class="grey-text right" href="#!">More Links</a>
        </div>
      </div>
    </footer>

    <!-- Login Modal -->
    <div id="tags-modal" class="modal grey lighten-4 z-depth-1" style="max-width:550px;max-height:100%;"
         ng-controller="Tags">

      <div class="modal-content transparent">
        <div class="row">
          <div class="center-wrapper">
            <div class="col s12 center">
              <a ng-repeat="category in categories"
                 ng-click="select_category(category.name)">
                <img class="z-depth-1 hoverable grey responsive-img"
                     style="width:45px;height:45px;margin:2px; border-radius:100%;"
                     ng-src="{{'images/category_icons/' + category.name + '.png'}}"/>
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s10 offset-s1" ng-repeat="category in categories" ng-show="is_selected_category(category.name)">
            <p class="col m6" ng-repeat="tag in category.tags" style="margin:0;margin-top:2px;">
              <input class="filled-in" type="checkbox" id="{{tag}}" ng-click="check_tag(tag, category.name)"
                      ng-checked="is_checked_tag(tag)"/>
              <label for="{{tag}}">{{tag}}</label>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col s4 offset-s4">
            <div class="col s12">
              <a class="modal-close col s12 z-depth-1 light-text center-align btn hoverable waves-effect waves-light white-text animated orange lighten-1"
                 ng-click="apply_tags(!!meeting.tags.length)">
                <span>{{meeting.tags.length ? 'Применить' : 'Отменить'}}</span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!--App Scripts-->
    <script type="text/javascript" src="/angular/angular.js"></script>
    <script type="text/javascript" src="/angular-i18n/angular-locale_ru-ru.js"></script>
    <script type="text/javascript" src="/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/satellizer/satellizer.min.js"></script>
    <script type="text/javascript" src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script type="text/javascript" src="/angular-ymaps/angular-ymaps.js"></script>
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/Materialize/bin/materialize.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
  </body>
</html>
