doctype html
html
  head
    title Foursquare Like
    base(href='/')
    meta(name='viewport', content='initial-scale=1', maximum-scale=1, user-scalable='no')
    link(rel='stylesheet', href='/bower_components/angular-material/angular-material.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app='FourApp')
    block content
    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/angular-aria/angular-aria.js')
    script(src='/bower_components/angular-animate/angular-animate.js')
    script(src='/bower_components/angular-material/angular-material.js')
    script(src='/public/javascripts/app.js')
