doctype html
html
  head
    title Foursquare Like
    base(href='/')
    meta(name='viewport', content='initial-scale=1', maximum-scale=1, user-scalable='no')
    link(rel='stylesheet', href='/angular-material/angular-material.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(layout='column', ng-app='FourApp', layout-fill)
    block content
    script(src='/angular/angular.js')
    script(src='/angular-aria/angular-aria.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-material/angular-material.js')
    script(src='/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/satellizer/satellizer.min.js')
    script(src='/javascripts/app.js')
