<article class="row" style="margin-top: 1rem;">
  <div class="col s12">
    <a class="right col s3 z-depth-1 orange white-text animated hoverable waves-effect waves-light btn"
       ui-sref="new-meeting">
      <span class="light-text">Создать встречу</span>
    </a>
  </div>
</article>

<article class="row z-depth-1" style="margin-top: 1rem;"
         ng-if="meetings" ng-repeat="meeting in meetings | orderBy : '+date'">
  <div class="custom-card col s12 grey lighten-4">
    <div class="row" style="height:0px;">
      <div class="col s12 m4 l3 transparent" style="padding-top:13px;">
        <img class="responsive-img" style="z-index:0;"
             ng-src="{{user.picture || 'http://i.imgur.com/bNmfur9.jpg'}}"/>
      </div>
      <div class="col s12 m8 l9 transparent" style="">
        <div class="row" style="margin-bottom:0;">
          <div class="col s6">
            <a ui-sref="meeting({id: meeting._id})">
              <span class="link-focus title black-text" style="margin:0;" ng-bind="meeting.title"></span>
            </a>
          </div>
          <div class="col s6" style="padding-top:5px;">
            <img class="right responsive-img" style="width:30px;height:30px;margin:2px;"
                  ng-repeat="category in meeting.categories"
                  ng-src="{{'images/category_icons/' + category + '.png'}}"/>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <p class="grey-text text-darken-2" style="margin:0;" ng-bind="meeting.date | date"></p>
            <p class="light-text grey-text text-darken-3" style="margin:0;" ng-bind="meeting.address"></p>
            <!-- <p class="light-text grey-text text-darken-4" style="margin-bottom:0;" ng-bind="meeting.description"></p> -->
            <p class="light-text grey-text text-darken-4 grey lighten-2" style="border:1px solid #9e9e9e;margin-bottom:0;" ng-bind="meeting.description">What's good 😜 u candy cane cum guzzler 👅🎄DICKCEMBER🎄 is here and u know what that means ❄ HOE HOE HOE season has arrived 🎅 put on your rudolph pasties 🔴 pop ur peppermint pussy 🍬 and sit by the fireplace with some hot COCKLATE 🍆☕if u want to get RAWED 👉👌 under the mistletoe 🌿 this christmAss 🎁 send this to 15 of your sluttiest elves 👩👨 if u get 0 back 😔 ur an UGLY GRINCH👀 if u get 5 back 😌 ur a SEXY SNOWMAN ⛄⛄if u get 10 back 😘 ur a BAD JINGLE BELL BITCH 🔥🙌 SHARE in 69 😉💦 seconds or you won't be gettin dicked down 😱 in 2❕0❕1❕6</p>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <a class="col s12 hoverable white waves-effect waves-light btn"
               ng-click="cancel_meeting(meeting._id)">
              <span class="center-align grey-text text-darken-3">Отменить</span>
            </a>
          </div>
          <div class="col s4">
            <a class="col s12 hoverable white waves-effect waves-light btn"
               ng-click="fetch_friend_list()">
              <span class="center-align grey-text text-darken-3">Предложить</span>
            </a>
          </div>
          <div class="col s4">
            <a class="col s12 hoverable white waves-effect waves-light btn"
               ng-click="show_on_map(meeting.place, meeting.title)">
              <span class="center-align grey-text text-darken-3">На карте</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<!-- Friend List Modal -->
<div id="friendlist-modal" class="modal grey lighten-4 z-depth-1"
     style="max-width:550px;max-height:100%;">
  <ul class="collection grey lighten-3" ng-if="friends" style="margin:0 !important;">
    <li class="collection-item avatar grey lighten-3 valign-wrapper" ng-repeat="friend in friends" style="min-height: 70px !important;">
      <img class="circle responsive-img" ng-src="{{friend.picture || 'http://i.imgur.com/bNmfur9.jpg'}}" />
      <a ng-click="close_friend_list()" ui-sref="user({id: friend.id})"><span class="black-text title link-focus" ng-bind="friend.name"></span></a>
      <p class="secondary-content" style="padding-top:7px;">
        <input type="checkbox" class="filled-in" id="item{{friend.id}}"
                ng-click="select_friend(friend.id)" ng-checked="is_checked_friend(friend.id)"/>
        <label for="item{{friend.id}}"></label>
      </p>
    </li>
  </ul>
</div>
