<!-- <article class="container content-container card-panel grey lighten-4 z-depth-1">
  <section class="row" style="margin-bottom: 0;" ng-cloak>
    <div class="col s6">
      User Avatar
      <div class="row">
        <div class="col s12">
          <img class="responsive-img" ng-src="{{user.picture}}" />
        </div>
      </div>
    </div>
    <div class="col s6" ng-cloak>
      User name
      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="name" placeholder="Имя" ng-model="user.displayName">
          <label for="name" ng-class="{active : user.displayName}">Имя</label>
        </div>
      </div>
      User City
      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="city" placeholder="Город" ng-model="user.city">
          <label for="city" ng-class="{active : user.city}">Город</label>
        </div>
      </div>
      User Sex
      <div class="row">
        <div class="input-field col s12">
          <select style="margin: 20px auto;">
            <option value="">Муж</option>
            <option value="">Жен</option>
          </select>
          <label ng-class="{active : user.sex}">Выберите Пол</label>
        </div>
      </div>
      User Datebirth
      <div class="row">
        <div class="input-field col s12">
          <input type="date" class="datepicker" id="date">
          <label for="date" ng-class="{active : user.date}">Дата Рождения</label>
        </div>
      </div>
      User Bio
      <div class="row">
        <div class="input-field col s12">
          <textarea id="bio" class="materialize-textarea" length="100"
                    ng-model="user.info"></textarea>
          <label for="bio" ng-class="{active : user.info}">О Себе</label>
        </div>
      </div>

      <div class="row">
        <div class="col s3">
          <p style="display:hidden;"></p>
        </div>
        <div class="col s6">
          <a class="col s12 waves-effect waves-light btn orange lighten-1 animated"
             ng-click="update_profile()">
            <span class="button-text">Сохранить</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="container">
      <a class="col s12 waves-effect waves-light btn light-blue darken-3 animated" style="margin-bottom:20px;"
         ng-click="user.vkontakte ? unlink('vkontakte') : link('vkontakte')">
        <i class="mdi mdi-vk left"></i>
        <span class="button-text">{{user.vkontakte ? 'Отключить' : 'Подключить'}} Vkontakte</span>
      </a>
      <a class="col s12 waves-effect waves-light btn cyan accent-4 animated" style="margin-bottom:20px;"
         ng-click="user.instagram ? unlink('instagram') : link('instagram')">
        <i class="mdi mdi-instagram left"></i>
        <span class="button-text">{{user.instagram ? 'Отключить' : 'Подключить'}} Instagram</span>
      </a>
      <a class="col s12 waves-effect waves-light btn indigo darken-1  animated" style="margin-bottom:20px;"
         ng-click="user.facebook ? unlink('facebook') : link('facebook')">
        <i class="mdi mdi-facebook left"></i>
        <span class="button-text">{{user.facebook ? 'Отключить' : 'Подключить'}} Facebook</span>
      </a>
      <a class="col s12 waves-effect waves-light btn blue lighten-1 animated" style="margin-bottom:20px;"
         ng-click="user.twitter ? unlink('twitter') : link('twitter')">
        <i class="mdi mdi-twitter left"></i>
        <span class="button-text">{{user.twitter ? 'Отключить' : 'Подключить'}} Twitter</span>
      </a>
      <a class="col s12 waves-effect waves-light btn red lighten-1 animated" style="margin-bottom:20px;"
         ng-click="user.google ? unlink('google') : link('google')">
        <i class="mdi mdi-google-plus left"></i>
        <span class="button-text">{{user.google ? 'Отключить' : 'Подключить'}} Google</span>
      </a>
    </div>
  </section>
</article> -->
