md-icon svg {
  fill: inherit;
}

.or-divider {
  position: relative;
  height: 34px;
  text-align: center;
}

.or-divider hr{
  width: 90%;
  margin: -16px auto 10px auto;
  border-top: 1px solid #dce0e0;
}

.or-divider .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
}
