html body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

md-tab-item span {
  color : black;
  font-weight: normal;
}

.photo {
  background: grey;
  background: url("https://graph.facebook.com/v2.3/1485034798491045/picture?type=large"), no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.custom-card {
  background-color: white;
}

md-icon svg {
  fill: inherit;
}
