html body md-content{
  overflow-x: hidden;
}

html body::-webkit-scrollbar {
  display: none;
}

.md-dialog-container md-dialog::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

md-tab-item span {
  color : black;
  font-weight: normal;
}

md-icon svg {
  fill: inherit;
}

md-icon {
  svg {
      fill: white;
  }
}

.new-meeting-date {
  margin-top: 0px;
}


/*md-datepicker .datefilter {
  margin-top: 5px;
}*/

.md-datepicker-calendar-pane {
  background-color: white;
}

.datefilter md-icon {
   fill: #FF7043;
}

/*md-datepicker md-icon {
   margin-bottom: -6px;
}*/

/*md-datepicker .md-datepicker-input-container {
  margin-left: -5px;
}*/

a {
  text-decoration: none;
  /*margin-left: 5px;*/
  color:black
}

a:visited{
  color:grey;
}

a:active{
  color:#FF7043;
}

a:hover{
  color:#FF7043;
}

md-toast.md-success-toast-theme {
    background-color: green;
}

md-toast.md-failed-toast-theme {
    background-color: red;
}
