md-dialog(aria-label='Sign Dialog', ng-cloak,
          style='height:100%;width:350px;',
          layout-align='space-between')
  md-toolbar
    .md-toolbar-tools
      h1(ng-bind='LoginDialog.status')
  md-dialog-content(flex)
    md-tabs(md-dynamic-height, md-stretch-tabs='always', md-center-tabs)
      md-tab(label='Войти', ng-click='LoginDialog.change_status("Войти")')
        form(method='post', ng-submit='LoginDialog.login()', name='signinForm',
               class='md-padding')
          md-input-container(class='md-accent md-hue-7')
            label Электронный адрес
            input(type='email', name='email', ng-model='LoginDialog.user.email',
                  required,
                  autofocus)
          md-input-container(class='md-accent md-hue-7')
            label Пароль
            input(type='password', name='password', ng-model='LoginDialog.user.password',
                  required)
          md-input-container(class='md-accent md-hue-7')
            md-button(ng-disabled='signinForm.$invalid', class='md-accent md-hue-7', type='submit') Вход
      md-tab(label='Зарегистрироваться', ng-click='LoginDialog.change_status("Зарегистрироваться")')
        form(method='post', ng-submit='LoginDialog.signup()', name='signupForm',
               class='md-padding')
          md-input-container(class='md-accent md-hue-7')
            label Электронный адрес
            input(type='email', name='email', ng-model='LoginDialog.user.email',
                  required,
                  autofocus)
          md-input-container(class='md-accent md-hue-7')
            label Пароль
            input(type='password', name='password', ng-model='LoginDialog.user.password',
                  required)
          md-input-container(class='md-accent md-hue-7')
            md-button(ng-disabled='signupForm.$invalid', class='md-accent md-hue-7', type='submit') Регистрация
    span(layout='row', class='md-padding', style='margin-top:0px;')
      md-divider(flex)
      md-text-float(class='md-accent', style='margin-top:-10px;') или
      md-divider(flex)
    md-list(style='padding-left:15px;margin-top:30px;')
      md-list-item(ng-repeat='provider in LoginDialog.providers', ng-click='LoginDialog.authenticate(provider.name)')
        md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/{{provider.icon}}')
        p Войти с помощью {{provider.display}}
    
